# Ignore everything
*

# Except for these
!/lib/esm/*.js
!/lib/cjs/*.cjs
!/types/index.d.cts
!/types/index.d.ts
!/types/RpgDiceRoll.d.ts
!/types/rpg/
!/types/rpg/*.d.ts
!CONTRIBUTING.md
!licence.txt
!package.json
!readme.md
!tsconfig.json
